[Desktop Entry]
Name=Nexus
Comment=A simple and user-friendly Matrix client
Exec=nexus
Icon=nexus
Terminal=false
Type=Application
Categories=Chat;Network;InstantMessaging;