name: "Build Windows Version"

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: "windows-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"

      - name: "Set up Flutter"
        uses: "subosito/flutter-action@v2"

      - name: "Set up Rust"
        uses: "dtolnay/rust-toolchain@stable"
        with:
          targets: "x86_64-pc-windows-msvc"

      - name: "Install Flutter dependencies"
        run: flutter pub get

      - name: "Run build_runner & build Windows EXE"
        run: |
          flutter pub run build_runner build --delete-conflicting-outputs
          flutter build windows --release

      - name: "Upload exe zip"
        uses: "actions/upload-artifact@v4"
        with:
          name: "windows-portable"
          path: "build/windows/x64/runner/Release/"

      - name: "Install Inno Setup"
        run: choco install innosetup -y

      - name: "Build Inno Setup installer"
        run: iscc windows/installer.iss

      - name: "Upload installer artifact"
        uses: "actions/upload-artifact@v4"
        with:
          name: "windows-installer"
          path: "windows/dist/Nexus-Setup.exe"
